@{
    ViewBag.Title = "Teste";
}

<h2>Teste</h2>

@Html.Label(ViewData["Elemento"].ToString())

@ViewBag.Teste

@*@{
        foreach(var item in Model)
        {

            @Html.DisplayFor( m => item)
        }
    }*@